
        *{
            box-sizing: border-box;
        }
        .main{
            height: 330px;
            width: 830px;
            background-color: aqua;
        }
        .hed{
            width: 800px;
            margin-left: 10px;
            margin-right: 10px;
            background-color: purple;
            color: aliceblue;
        }
        .foot{
            width: 800px;
            color: aliceblue;
            background-color: blue;
            margin-left: 10px;
            margin-right:10px;
        }
        .contant{
            height: 200px;
            width: 800px;
            background-color: orange;
            padding: 10px;
            margin-left: 10px;
            margin-right:10px;
        }
        .entry{
            background-color: black;
            color: aliceblue;
            width: 300px;
            margin: 10px ;
        }
        .entrywrap{
            
            float: left;
            height:100px ;
            width: 350px;

        }
        .sidebar{
            background-color: black;
            color: aliceblue;
            float: right;
            height: 100px;
            width: 400px;
            margin-top: 5px;
            margin-right: 30px;
        }

    