
.container{
 position: absolute;
 top: 20%;
height: 90%;
display: flex;
justify-content: center;
align-items: center;
}
.circle{
position: absolute;
background: transparent;
width: calc(var(-1) 2.5vmin);
aspect-ratio: 1;
border-radius: 50%;
border: 3px solid rgb(0,255,13);
transform-style: preserve-34;
transform: rotateX(70deg) translateZ(50px);
animation: animate 3s ease-in-out calc(var(1) 0.10s) infinite;
box-shadow: 15px rgb(124,124,124);
}

@keyframes animate{
0%,
100%{

transform: rotatex(70deg) translatez(50px) translatey(0);

filter: hue-rotate(0);
}
50%{
transform: rotatex(70deg) translateZ(50px) translateY(-50vmin);

filter:hue-rotate(360deg);
}


