body{
    height: 1120px;
    width: 1000px;
    margin-left: 30px;
    border: 4px solid black;
    
    
}
.nevbar{
    background-color: #aa79cf ;
    height: 50px;
    padding-top: 15px;
}
.left{
    float: left;
}
.right{
    float: right;
}
a{
    color: aliceblue;
    text-decoration: none;
    margin-right: 50px;
}
.label1{
   background-color: blueviolet;
   box-shadow: 0px 5px 20px 5px blueviolet;
    text-align: center;
    padding: 10px;
    margin-left: 20px;
    border:plum solid 2px;
    border-radius: 50%;
}
.label2{
  
  text-align: center;
  padding: 10px;
  margin-left: 5px;
 color: aliceblue;
}
.label3{
color: aliceblue;
   background-color: blueviolet;
    text-align: center;
    padding: 10px;
    margin-left: 20px;
    border:rgb(189, 115, 115) solid 2px;
    border-radius: 40%;
    margin-right: 20px;
}
.label4{
    color:blueviolet ;
}
.part1{
    padding: 20px;
   font-weight: 900;
    font-size: 30px;
}
.part2{
       display: flex;
       flex-direction: row;
}
.label5{
    padding-left: 100px;
}
.l4{
    color: aliceblue;
   background-color: blueviolet;
    text-align: center;
    margin-left: 20px;
    border:rgb(98, 91, 199) solid 2px;
    border-radius: 30px;
    padding: 10px;
    font-weight: 900;
}
.label6{
    padding-top: 200px;
    
}
.l5{
color: aliceblue;
   background-color: blueviolet;
    text-align: center;
    border:rgb(98, 91, 199) solid 2px;
    border-radius: 30px;
    padding: 10px;
    font-weight: 900;
    
}
.photo{
    background-image: url("https://img.freepik.com/free-vector/floral-elements-design_1271-75.jpg?ga=GA1.1.480904883.1737022036&semt=ais_hybrid");
    background-repeat:no-repeat;
    background-size: cover;
    width: 250px;
    height: 170px;
    margin-bottom: 100px;

}
img{
     
    border: 2px solid black;
    border-radius: 100px;
    height: 250px;
    width: 200px;
    position:relative ;
    top: 15px;
    right: 40px;

}
.part3{
    margin-top: 20px;
    display: flex;
    flex-direction:row;
    background-color: #202A44;
    justify-content: space-evenly;
}

.logo{
    height:100px;
    width: 100px;
    background-repeat:no-repeat;
     background-size: contain; 
    background-position: center;
    border: 2px solid black;
    border-radius: 50px;

}

#dribbble{
 background-image:url("./dribble.png") ;
}

#linkedin{

    background-image:url("./linkedin.png") ;

}

#midium{

    background-image:url("./midium.png") ;

}

#behance{
   background-color: aliceblue;
    background-image:url("./behance.png") ;

}
.part4{
    background-color: #aa79cf;
    height: 400px;
    width: 1000px;
    display: flex;
    flex-direction: column;
}
.contant{
   
}
.about{
    
    padding-left: 150px;
    color: aliceblue;
    font-size: 50px;
    font-weight: 900;
    float: left;
}
.paregraph{
    padding-top: 120px;
   margin-right: 120px;
    color: aliceblue;
    float: right;
}
.logos{
    margin-top: 40px;
    margin-left: 70px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.logof label{
    
    box-shadow:  5px 2px 20px blueviolet;
    color: aliceblue;
    background-color: blueviolet;
     text-align: center;
     padding: 20px;
     border:rgb(189, 115, 115) solid 2px;
     border-radius: 40%;   
}
.footer{
    background-color:blueviolet  ;
    text-align: center;
    color:white;
    border: 2px solid #202A44 ;
    border-radius: 30px;
    width: 800px;
    margin-top: 10px;
    margin-left: 100px;
}
